.wrapper {
  width: 260px;
  height: 100vh;
  /*border-right: 1px solid #E6E8F0;*/
  /*background: #FAFBFF;*/
  /*background: #F9FAFC;*/
  position: sticky;
  top: 0;
  transition: 300ms;
}

.container {
  height: calc(100vh - 57px);
}

.titleContainer {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  height: 57px;
  /*background: #F9FAFC;*/
  border-bottom: 1px solid #E6E8F0;
}

.tabContainer {
  padding: 20px;
  height: 100%;
  border-right: 1px solid #E6E8F0;
  overflow: auto;
}

.icon {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 190px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 61px;
  }

  .titleContainer {
    justify-content: center;
    padding: 6px;
  }

  .tabContainer {
    padding: 20px 6px;
  }

  .icon {
    margin-right: 0;
  }

  .tabLabel {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 0px;
    overflow: hidden;
  }
}