.wrapper {
  padding: 50px 20px;
  background: #474d66;

}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}


.link {
  color: #fff;
  transition: 200ms;
  margin-bottom: 8px;
}

.link:hover {
  opacity: 0.6;
  color: #ffffff;
}