.wrapper {
  padding: 50px 20px;
  background: #edeff5; /* grey 200 */

}

.container {
  max-width: 1000px;
  margin: auto;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 7px;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

.link {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.contentContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 600px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}