.container {
  width: 100%;
  margin-right: 20px;
}

.planContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  margin-top: 16px;
  /*border-top: 1px solid #E6E8F0;*/
  /*padding-top: 20px;*/
  display: flex;
  justify-content: flex-end;
}

.buttonProContainer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .container {
    margin-right: 0;
    margin-bottom: 20px;
  }
}