.container {
  margin-left: 20px;
  animation: fadeInUp 0.5s ease-in-out;
}

.storageBarContainer {
  height: 8px;
  width: 240px;
  background-color: #E6E8F0;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.storageBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  background: #3366FF;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
