.container {
  margin-left: 20px;
  animation: fadeInUp 0.5s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer {
  max-width: 400px;
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 35px;
  cursor: pointer;
  transition: 200ms;
}

.eyeIcon:hover {
  color: #3366FF;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
