.container {
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inputContainer {
  max-width: 400px;
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 35px;
  cursor: pointer;
  transition: 200ms;
}

.eyeIcon:hover {
  color: #3366FF;
}