.wrapper {
  padding: 75px 20px;
}

.container {
  margin: auto;
  width: fit-content;
  max-width: 720px;
}

.priceContainer {
  border-right: 1px solid #E6E8F0;
  width: fit-content;
  padding-right: 30px;
  min-width: 150px;
}

.card {
  display: flex;
}

.featuresContainer {
  margin-left: 30px;
  width: 100%;
}

.featureFlexContainer {
  display: flex;
  justify-content: space-between;
}

.leftListContainer {
  /*margin-right: 30px;*/
}