.navWrapper {
  padding: 12px 20px;
  /*position: relative;*/
  border-bottom: 1px solid #E6E8F0;
  /*background: #FAFBFF;*/
  /*background: #fff;*/
  /*background: #F9FAFC;*/
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.navLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.mobileImageContainer {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 4px;
}

.accountIconBtn {
  display: none;
}

@media screen and (max-width: 500px) {
  .mobileImageContainer {
    display: flex;
    min-width: 30px;
    width: 30px;
    margin-right: 10px;
  }

  .accountIconBtn {
    display: block;
  }

  .accountBtn {
    display: none;
  }
}