.navWrapper {
  padding: 12px 20px;
  position: relative;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.navLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}