.wrapper {
  padding: 50px 20px;
  position: relative;
  /*bottom: 125px;*/
  background: #F9FAFC; /* grey 75 */
  /*margin-bottom: -125px;*/
}

.container {
  max-width: 1000px;
  margin: auto;
}

.header {
  margin-bottom: 50px;
}

.contentContainer {
  display: flex;
}

.content {
  width: 100%;
  text-align: center;
  margin-right: 30px;
}