* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  background: #E6E8F0;
}

body::-webkit-scrollbar-thumb {
  background-color: #8f95b2;
  border-radius: 50px;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  position: relative;
}

.app-container {
  width: 100%;
}

.app-content-wrapper {
  width: 100%;
  padding: 20px;
  padding-bottom: 80px;
}

.app-content {
  margin: auto;
  max-width: 1000px;
}

.eye-icon-creds {
  position: absolute;
  top: 35px;
  cursor: pointer;
  transition: 200ms;
}

.eye-icon-creds:hover {
  color: #3366FF;
}
